@charset "UTF-8";
h1 {
  color: #ffffff; }

h2 {
  color: #e6b1c5; }

h3 {
  color: #3f152a; }

h5 {
  color: #d4c4cc; }

span {
  color: #f5dadc; }

.primera_letra {
  color: #e6e4d8; }

.imagen {
  border: 3px solid #ffffff; }

.imagen--portada {
  width: 1500px;
  height: 400px; }

.imagenAlt {
  width: 600px;
  height: 320px; }

.imagen--tamaño {
  width: 320px;
  height: 266.66667px; }

.tamaño--span {
  width: 320px; }

.imagen--centrar {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.logo {
  width: 106.66667px;
  height: 106.66667px; }

h1 {
  font-family: 'Gwendolyn', cursive;
  font-size: 45px;
  text-align: center; }

h2 {
  font-family: 'Gwendolyn', cursive;
  font-size: 50px;
  text-align: justify;
  margin-left: 30px; }

h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px; }

h5 {
  font-family: 'Courgette', cursive;
  font-size: 25px; }

.LetraH1 {
  font-family: 'Courgette', cursive;
  font-size: 40px;
  text-align: center; }

.letraSpan {
  font-family: 'Dancing Script', cursive; }

.letraInicio {
  font-family: 'Gwendolyn', cursive;
  font-size: 60px; }

.texto_Sombreado {
  text-shadow: 5px 5px 4px #a51232;
  font-family: 'Gwendolyn', cursive;
  font-size: 60px; }

h1 {
  color: #ffffff; }

h2 {
  color: #e6b1c5; }

h3 {
  color: #3f152a; }

h5 {
  color: #d4c4cc; }

span {
  color: #f5dadc; }

.primera_letra {
  color: #e6e4d8; }

* {
  margin: 0;
  padding: 0; }

.separacion {
  padding-top: 15px;
  padding-bottom: 15px; }

.separacion--ref {
  padding-top: 24px; }

.centrar-Vertical {
  display: flex;
  align-items: center;
  align-content: space-around; }

.justificar {
  display: inline-block;
  text-align: justify;
  text-align-last: justify; }

.centrarTexto {
  text-align: center;
  padding: 15px; }

.centrarVertical {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.Flex_End {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: end; }

.Seccion {
  padding: 20px;
  background-color: #dfcbda; }

.btn-outline-dark {
  color: #ffffff; }

.footer {
  text-align: center; }

/*div, span{ 
    border-color: #101aad;
    border-width: 2px;
    border-style: solid; } */
