$color_fuente:#ffffff !default;

$color_H1:#ffffff;  $color_H2:#e6b1c5;  $color_H3:#3f152a; $color_H4:#f0c6d3; $color_H5:#d4c4cc;

$color_fondoSeccion: #dfcbda;

$color_footer: #000000;

$color_span:rgb(245, 218, 220);




h1{color: $color_H1;}

h2{color: $color_H2;}

h3{color: $color_H3;}

h4{color: $color_H4;}

h5{color: $color_H5;}

span{color: $color_span;}

p{color: $color_fuente;}

.primera_letra{
    color: rgb(230, 228, 216);
}



