@import "colores";


$ancho:1600px;
$alto:1600px;

.imagen{
    border: 3px solid $color_fuente;  
}

.imagen--portada{
    width: 1500px;
    height: 400px;
}

.imagenAlt{
    width: 600px;
    height: 320px;
}

@mixin tamaño ($ancho, $alto) {
    width: $ancho/5;
    height: $alto/6;  
}

.imagen--tamaño{
   @include tamaño($ancho,$alto) 
}

.tamaño--span{
    width: $ancho/5;
}

.imagen--centrar{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: $ancho/15;
    height: $alto/15;
}



