
h1{
    font-family: 'Gwendolyn', cursive;
    font-size: 45px;    
    text-align: center;
}

h2{
    font-family: 'Gwendolyn', cursive;
    font-size: 50px;
    text-align: justify;
    margin-left: 30px;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

h5{
    font-family: 'Gwendolyn', cursive;
    font-size: 35px;
}


.letraSpan{
    font-family: 'Dancing Script', cursive;    
}

.letraInicio{
    font-family: 'Gwendolyn', cursive;
    font-size: 60px;
}

.texto_Sombreado {  
    text-shadow: 5px 5px 4px #a51232;
    font-family: 'Gwendolyn', cursive;
    font-size: 60px;
    }