@import "_imagenes";
@import "_tipografia";
@import "_colores";

*{
    margin: 0;
    padding: 0;
}

.separacion{   
    padding-top: 15px;
    padding-bottom: 15px;
}

.separacion--ref{   
    padding-top: 24px;    
}

.centrar-Vertical{
    display: flex;
    align-items: center;
    align-content: space-around;    
}

.justificar{
    display: inline-block; 
    text-align: justify;    
    text-align-last: justify;    
}

.centrarTexto{
    text-align: center;
    padding: 15px;
}

.TextoDerecha{
    display: flex;
    text-align: right;    
}


.centrarVertical {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;    
}

.Flex_End{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: end;
}

.caja { float:left;margin-left:5px; } 

.Seccion{
    padding: 20px;
    background-color: $color_fondoSeccion;
}

.btn-outline-dark{color: $color_fuente;}

.footer{
    text-align: center;   
}

/*div, span{ 
    border-color: #101aad;
    border-width: 2px;
    border-style: solid; } */


    .floatIzquierda {
        width:600px; 
        float:left;       
      }

      .floatDerecha{
        width:600px;        
        float:right;       
      }

      .list-group-item[aria-expanded="true"]{
        background-color: black !important;
     border-color: #aed248;
   
   }

